<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <br>
    <input type= "text"
           name="username" 
           placeholder="Enter username"
           minlength="5"
           maxlength="20"
           required>
    <br><br>
    <input type="password"
            name="password"
            placeholder="Enter password"
            minlength="5"
            maxlength="20"
            required>
    
    <br><br>
    <button type="button">Login</button>
    <br><br>
    <a href="index.html">Go back to Home Page</a> 
    <br><br>
    <a href="student_signup.html">Sign Up as a student</a>
    <br>
    <a href= "company_signup.html">Sign Up as a company</a>
</body>
</html>


<!-- 
<input type="text" 
       name="username" 
       placeholder="Enter username" 
       required> -->

<!-- <!DOCTYPE html>
<html>
    <head>
        <title>login</title>
    </head>
    <body>
        <form action="/login" method="post">
        <input type="text" placeholder="username">
        <input type="password" placeholder="password">
        </form>

    </body>
</html> -->